開発中/GPX/sample.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.topografix.com/GPX/1/1" elementFormDefault="qualified">
  <xs:element name="gpx">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="wpt" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="lat" type="xs:double" use="required"/>
            <xs:attribute name="lon" type="xs:double" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
